Estimado(a) usuario,

Ha recibido este correo porque se ha solicitado restablecer la contraseña para su cuenta en el "Sistema de Delegados UNEFA".

Por favor, haga clic en el siguiente enlace para elegir una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si usted no solicitó este cambio, puede ignorar este mensaje de forma segura. Su contraseña no será modificada.

Atentamente,

El equipo de Soporte Técnico
Sistema de Gestión de Delegados UNEFA
